#include "fcad_platform/resource.h"
#include <Windows.h>
#include <Richedit.h>

IDD_HELP DIALOGEX 0, 0, 500, 500
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Help"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
	DEFPUSHBUTTON   "OK", IDOK, 440, 480, 50, 14
	CONTROL			"",IDC_HELP_TEXT,MSFTEDIT_CLASS, ES_MULTILINE | ES_READONLY | WS_VSCROLL | WS_EX_DLGMODALFRAME | WS_EX_STATICEDGE | WS_BORDER,7,7,493,468
END